
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
}

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    color:#4e4e4e;
    line-height: 22px;
  }

li, a, button{
font-weight: 500;
font-size: 16px;
color: #edf0f1;
text-decoration: none;
}

header{
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 10%;
border-bottom: 6px solid rgb(0, 136, 169);
}

.logo{
    width: 140px;
    
    cursor:pointer;
}

.nav_links{
    list-style:none;
    display: flex;
}

.nav_links li {
    display:inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9
}

button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(5, 200, 249, 0.8);
}

footer{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding:20px;
    color: #edf0f1;
    text-align:center;
    border-top: 6px solid rgb(0, 136, 169);
}


.container{
    position: relative;
    text-align:center;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.0)
}

h1{
    font-weight: bold;
    font-size: 40px;
    color: #edf0f1;
    background-color: transparent;
}

h2{ 
    font-weight: bold;
    font-size: 40px;
    color: #edf0f1; 
   padding:30px;
   background-color: transparent;
}

p1{
    font-size: 30px;
    color: #edf0f1;
    padding-top:50px;
    background-color: transparent;
}

p2{
    font-size: 30px;
    color: #edf0f1;
    text-align: center;
}

  .nbs_section .nbs_container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .nbs_section .nbs_container .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 25px 10px 0 10px;
  }
  
  .nbs_section .nbs_container .box .img-box {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nbs_section .nbs_container .box .img-box img {
    max-width: 100%;
  }
  
  .nbs_section .nbs_container .box .detail-box{
    font-weight: bold;
    color:#edf0f1;
  }

  .nbs_section .heading_container{
    font-weight:bold;
    font-size: 35px;
    padding-top:50px;
    color:#edf0f1;
  }
  